<footer>
    <div class="matt-footer">
        <div class="container">
            <div class="col-sm-6 matt-footer-content">
                <h4>Matterhorn Communications</h4>
                <p class="text-muted">25/4 Nguyễn Bỉnh Khiêm Street l District 1, HCMC l Vietnam</p>
                <p class="text-muted">Tel: +84 8 3911 2162 l Mob: +84 913 540 737</p>
            </div>
            <div class="col-sm-6 text-right">
                <span class="matt-footer-content">
                    <br/><br/><br/>
                    &copy; Matterhorn 2015
                </span>
            </div>
        </div>
    </div>
</footer>