<section id="main-details">
    <div class="matt-breacrumb-background"></div>
    <div class="matt-breadcrumb">
        <div class="container">
            <h1>BLOG</h1>
        </div>
    </div>
    <div class="matt-main-details">
        <div class="container">
            <div class="col-sm-8">
                <div class="matt-main-details-right">
                    <div class="matt-blog-row">
                        <h2 class="matt-blog-heading text-left">
                            EXCITING NEW DEVELOPMENTS: PAR FOR THE COURSE AT THE HO TRAM STRIP
                        </h2>
                        <span class="matt-blog-post-time text-muted">
                            Posted on <strong>May 15, 2015</strong>
                        </span>
                        <div class="matt-blog-description lead">
                            The Ho Tram Strip today continued to deliver on its vision to develop a truly unique
                            destination resort in Asia and the most important tourism development in Vietnam with the
                            opening of The Bluffs Ho Tram Strip and the announcement of a new residential offering to be
                            developed at the site.
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <a class="btn btn-lg btn-matt-read" href="#">READ MORE</a>
                            </div>
                        </div>
                    </div>
                    <div class="matt-blog-row">
                        <h2 class="matt-blog-heading text-left">
                            EXCITING NEW DEVELOPMENTS: PAR FOR THE COURSE AT THE HO TRAM STRIP
                        </h2>
                        <span class="matt-blog-post-time text-muted">
                            Posted on <strong>Apr 16, 2015</strong>
                        </span>
                        <div class="matt-blog-description lead">
                            The Ho Tram Strip today continued to deliver on its vision to develop a truly unique
                            destination resort in Asia and the most important tourism development in Vietnam with the
                            opening of The Bluffs Ho Tram Strip and the announcement of a new residential offering to be
                            developed at the site.
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <a class="btn btn-lg btn-matt-read" href="#">READ MORE</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="matt-main-details-related">
                    <div class="panel panel-news">
                        <div class="panel-heading panel-news-heading text-uppercase text-center">
                            CATEGORY
                        </div>
                        <div class="panel-body matt-main-details-related">
                            <div class="matt-list-group">
                                <div class="matt-related-news-item">
                                    <div class="matt-related-news-item-heading">
                                        <h2 style="margin: 0;">
                                            <a class="matt-anchor" href="#">
                                                EXCITING NEW DEVELOPMENTS: PAR FOR THE COURSE AT
                                                THE HO TRAM STRIP
                                            </a>
                                        </h2>
                                    </div>
                                    <span class="matt-related-news-item-description">The Ho Tram Strip today continued to deliver on its
                                        vision to develop a truly unique destination resort in Asia and the most
                                        important tourism development in Vietnam.</span>
                                </div>
                                <div class="matt-related-news-item">
                                    <div class="matt-related-news-item-heading">
                                        <h2 style="margin: 0;">
                                            <a class="matt-anchor" href="#">
                                                ASIAN COAST DEVELOPMENT (CANADA) LTD. ANNOUNCES MAJOR NEW INVESTMENT AND
                                                APPOINTMENT OF STEPHEN SHOEMAKER AS CEO
                                            </a>
                                        </h2>
                                    </div>
                                    <span class="matt-related-news-item-description">
                                        Asian Coast Development (Canada) Ltd., the owner of The Grand Ho Tram Strip, today announced a US$50 million funding commitment from its majority shareholder, Harbinger Capital.
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>