<section id="main-details">
    <div class="matt-breacrumb-background"></div>
    <div class="matt-breadcrumb">
        <div class="container">
            <h1>OUR SERVICE</h1>
        </div>
    </div>
    <div class="matt-main-details">
        <div class="container">
            <div class="col-sm-8">
                <div class="matt-main-details-right">
                    <p class="lead">
                        With a large media, and some media customs uncommon to multinational clients, the Matterhorn
                        team has worked tirelessly to develop strong relationships with local and locally based
                        international press in Vietnam.
                    </p>

                    <p class="lead">
                        Depending on what you count, Vietnam's media scape includes up to 1200 print publications, a
                        fast growing TV scape as locally based cable television gains traction, and an exploding online
                        environment that now sees around 26 million of the nation's population using the internet
                        regularly.
                    </p>

                    <p class="lead">
                        It takes a trusted partner to walk a client through the shifting sands of Vietnam's media, and
                        Matterhorn – named for one of Europe's largest mountains – is just the sherpa you need..
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="matt-main-details-related">
                    <div class="panel panel-news">
                        <div class="panel-heading panel-news-heading text-uppercase text-center">
                            Recent News
                        </div>
                        <div class="panel-body matt-main-details-related">
                            <div class="matt-list-group">
                                <div class="matt-related-news-item">
                                    <div class="matt-related-news-item-heading">
                                        <h2 style="margin: 0;">
                                            <a class="matt-anchor" href="#">
                                                EXCITING NEW DEVELOPMENTS: PAR FOR THE COURSE AT
                                                THE HO TRAM STRIP
                                            </a>
                                        </h2>
                                    </div>
                                    <span class="matt-related-news-item-description">The Ho Tram Strip today continued to deliver on its
                                        vision to develop a truly unique destination resort in Asia and the most
                                        important tourism development in Vietnam.</span>
                                </div>
                                <div class="matt-related-news-item">
                                    <div class="matt-related-news-item-heading">
                                        <h2 style="margin: 0;">
                                            <a class="matt-anchor" href="#">
                                                ASIAN COAST DEVELOPMENT (CANADA) LTD. ANNOUNCES MAJOR NEW INVESTMENT AND
                                                APPOINTMENT OF STEPHEN SHOEMAKER AS CEO
                                            </a>
                                        </h2>
                                    </div>
                                    <span class="matt-related-news-item-description">
                                        Asian Coast Development (Canada) Ltd., the owner of The Grand Ho Tram Strip, today announced a US$50 million funding commitment from its majority shareholder, Harbinger Capital.
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>